# Compiled binaries
main
main.exe
*.exe
*.dll
*.so
*.dylib
*.test
coverage.out

# Environment variables
.env
.env.*
!.env.example

# Go build & cache
.gomodcache/
vendor/

# Uploads & local data
uploads/
*.log
